.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
    background: #abc;
  }
  
  .my-label {
    font-family: 'Lobster';
  }

  .my-subtittle {
    font-family: 'Lobster';
    text-align: center;
  }

  .my-header{
    font-family: 'lobster';
    font-size: 20px;
    text-align: center;
  }