<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <ion-item>
          <ion-label stacked class="my-label">
            <ion-avatar slot="start">
              <img src="assets/icon/tittle.png">
            </ion-avatar>BeMonitor Móvil
          </ion-label>
        </ion-item>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1>Responder Asesoria</h1>

</ion-content>
