<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-label stacked class="my-label">
          <ion-avatar slot="start">
            <img src="assets/icon/tittle.png">
          </ion-avatar>BeMonitor Móvil
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label stacked class="my-label">Solicitar Asesoria</ion-label>
          </ion-item>
          <form novalidate [formGroup]="form">
            <ion-item>
              <ion-label stacked>Asignatura</ion-label>
              <ion-select formControlName="asignaturaA">
                <ion-select-option value="G8F0080" checked="true">Redes de computadores III</ion-select-option>
                <ion-select-option value="G8F0059">Análisis y diseño de algoritmos</ion-select-option>
                <ion-select-option value="G8F0068">Ingenieria de software III</ion-select-option>
              </ion-select>
              <div>
                  <ng-container *ngFor="let validation of validation_messages.asignaturaA">
                    <div *ngIf="form.get('asignaturaA').hasError(validation.type)">
                      <p>{{validation.message}}</p>
                    </div>
                  </ng-container>
                </div>
            </ion-item>
            <ion-item>
              <ion-label stacked>Tema</ion-label>
              <ion-input placeholder="..." formControlName="temaA"></ion-input>
            </ion-item>
            <div>
              <ng-container *ngFor="let validation of validation_messages.temaA">
                <div *ngIf="form.get('temaA').hasError(validation.type)">
                  <p>{{validation.message}}</p>
                </div>
              </ng-container>
            </div>
            <ion-button expand="full" size="small" color="dark" (click)="save()">
              <ion-icon name="send"></ion-icon>Solicitar
            </ion-button>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content>