<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-label stacked class="my-label">
          <ion-avatar slot="start">
            <img src="assets/icon/tittle.png">
          </ion-avatar>BeMonitor Móvil
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label stacked class="my-label">Solicitar Asesoria</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Asignatura</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Ingenieria de Software III</ion-select-option>
              <ion-select-option value="m">Redes de Computadores II</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Tema</ion-label>
            <ion-input placeholder="..."></ion-input>
          </ion-item>
          <ion-item>
            <ion-button size="small" color="dark">
              <ion-icon name="send"></ion-icon>Solicitar
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>