.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  background: #abc;
}

.my-label {
  font-family: 'lobster';
  font-size: 100%;
  text-align: center;
}

.my-header{
  font-family: 'lobster';
  font-size: 40px;
  text-align: center;
}





