.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  background: #abc;
}

.my-label {
  font-family: 'Lobster';
  src: url(https://fonts.google.com/?query=lobster&selection.family=Lobster);
  text-align: center;
}



