<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item>
        <ion-label stacked class="my-header">
          <ion-avatar slot="start">
            <img src="assets/icon/tittle.png"> BeMonitor Móvil
          </ion-avatar>
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <!--Caso de uso Solicitar Asesoria-->
    <ion-row>
      <ion-col size="6" *ngFor="let Solicitar of SolicitarAsesoria">
        <ion-card (click)="reproducirSonido(Solicitar)">
          <ion-img [src]="Solicitar.imagen"></ion-img>
          <!-- Item as an Anchor -->
          <ion-item routerLink="/cusolicitar-asesoria">
            <ion-label stacked class="my-label">
              Solicitar Asesoria
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Caso de uso Responder Asesoria-->

      <ion-col size="6" *ngFor="let Responder of ResponderAsesoria">
        <ion-card (click)="reproducirSonido(Responder)">
          <ion-img [src]="Responder.imagen"></ion-img>
          <!-- Item as an Anchor -->
          <ion-item routerLink="/curesponder-asesoria">
            <ion-label stacked class="my-label">
              Responder Asesoria
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <!--Caso de uso Consultar Asesorias Solicitadas-->

      <ion-col size="6" *ngFor="let ConsultarAsesorias of ConsultarAseosirasSolicitadas">
        <ion-card (click)="reproducirSonido(ConsultarAsesorias)">
          <ion-img [src]="ConsultarAsesorias.imagen"></ion-img>
          <!-- Item as an Anchor -->
          <ion-item routerLink="/cuconsultar-asesorias-solicitadas">
            <ion-label stacked class="my-label">
              Consultar Asesorias Solicitadas
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>