.my-label {
    font-family: 'Lobster';
  }

  .my-subtittle {
    font-family: 'Lobster';
    text-align: center;
  }

  .my-header{
    font-family: 'lobster';
    font-size: 40px;
    text-align: center;
  }